html, body { 
    
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    
    background: rgb(8, 71, 116);
}

.main-section  { 
    width: 100%;
    height: 100% ;
    /* background: rgb(8, 71, 116); */
    padding: 100px 50px; 
    box-sizing: border-box;
}

.content-section { 
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    
}
 h1 { 
    margin: 0;
    color: #fff; 
    font-size: 50px;
    font-weight: 200; 
}
h6 {  
    margin: 0;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.568); 
    font-size: 10px;
    font-weight: 200; 
}
.content-row { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-container { 
    width: 400px;
    height: 300px;
    position: relative;
    margin: 50px 0;
    padding: 0;
}
.image-container { 
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 250ms ease-in-out;
    z-index: 2;
    border: none;
}

.wrap-image { 
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    font-size: 40px;
    font-weight: 200;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: 250ms ease-in-out;
    text-align: center;
}
.outside-part { 
    position: absolute;
    top: 0;  
    width: 600px;
    height: 300px;
    border: none;
    z-index: 0;
    transition: 250ms ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.outside-part > span { 
    display: inline-block;
    min-width: 40px;
    height: 100%;
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(-600px) skew(-13deg);
}
.outside-part > span:nth-child(2n) { 
    background: rgba(255, 255, 255, 0.25);
}
.item:hover .image-container { 
    transform:  translateX(-15px) translateY(-15px) ; 
}
.item:hover .wrap-image { 
    background: rgba(0, 0, 0, 0.5);
    color: rgb(219, 219, 219);
}
.item:hover .outside-part { 
    transform:  translateX(15px) translateY(15px) ; 
}
.item:hover .outside-part > span { 
    animation: outside-part-animation 3000ms linear infinite  ; 
}
.item.empty:hover .outside-part > span { 
    animation: outside-part-animation 30000ms linear infinite  ;  
}
.item.empty .outside-part > span {  
    opacity: 0.15;
}

.link-container { 
    margin: 50px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-wrap: wrap;
    color: #fff;
}
.link-container i { 
    font-style: normal;
    margin: 2px;
}
.link-container a { 
    color: #fff;
    transition: 300ms ease;
    position: relative; 
    margin-top: 20px;
    white-space: nowrap;
}
.link-container a:nth-child(2) { 
    margin-top: 5px ;
}
.link-container a::after { 
    content: ' ';
    width: 100%;
    height: 2px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    transition: 200ms ease;
    transform: scaleX(0);
    transform-origin: center;
    overflow: hidden;
}
.link-container a:hover::after { 
    transform: scaleX(1);
    background: rgba(255, 255, 255, 0.2);
}
.link-container a:last-child { 
    margin-right: 0px;
}
.link-container a:hover { 
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}




.weather{ 
    background-image: url(../img/fun-weather.jpg);
}

.silon { 
    background-image: url(../img/silon.jpg);
}
.it-studio { 
    background-image: url(../img/it.jpg);
}
.bon-city { 
    background-image: url(../img/boncity.jpg);
}
.fengshui { 
    background-image: url(../img/fengshui.jpg);
}
.bundaloo { 
    background-image: url(../img/bundaloo.png);
}
.project_company { 
    background-image: url(../img/project_company.png);
}
.portland { 
    background-image: url(../img/portland.png);
}



.empty .wrap-image { 
    font-size: 15px;
}
@keyframes outside-part-animation { 
    0% { 
        transform: translateX(-600px) skew(-13deg);
    }
    100% { 
        transform:  translateX(0px) skew(-13deg);
    }
    /* 100% { 
        transform: translateX(-600px) skew(-10deg);
    } */
}

.pt-100 { 
    padding-top: 100px;
    text-align: center;
}

.main-container { 
    padding-bottom: 300px;
}
.main-container .item  { 
    /* background: rgb(40, 214, 25); */
    position: relative;
    width: 100%;
    height: 300px;
    margin: 50px 0;
    overflow: hidden;
}
.main-container .item a { 
    position: relative;  
}
@media screen and (min-width: 768px) { 
    .main-container {
        /* margin-top: -100px; */
    }
}

.col-text { 
    color: rgba(255, 255, 255, 0.431);
    font-size: 15px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.143);
    padding-bottom: 5px;
}
.react { 
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.431);
    font-size: 12px; 
}