html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

.main-section  { 
    width: 100%;
    height: 100% !important;
    background: rgb(8, 71, 116);
    /* background: #452B46; */
}

.content-section { 
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    padding: 150px 50px;
    box-sizing: border-box;
}
.main-section h1 { 
    margin: 0;
    color: #fff; 
    font-size: 50px;
    font-weight: 200;
}
.item-container { 
    width: 100%;
    height: 200px;
    padding: 0;
    
}
.image-container { 
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 250ms ease-in-out;
    z-index: 2;
    border: none;
}

.wrap-image { 
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    font-size: 40px;
    font-weight: 200;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    transition: 250ms ease-in-out;
}
.outside-part { 
    position: absolute;
    top: 0; 
    width: 100%;
    height: 100%; 
    border: none;
    z-index: 0;
    transition: 250ms ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.outside-part > span { 
    display: inline-block;
    min-width: 40px;
    height: 100%;
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(-600px) skew(-13deg);
}
.outside-part > span:nth-child(2n) { 
    background: rgba(255, 255, 255, 0.25);
}
.item-container:hover .image-container { 
    transform:  translateX(-15px) translateY(-15px) ;
    border: 2px solid #fff;  
}
.item-container:hover .wrap-image { 
    background: rgba(0, 0, 0, 0.5);
    color: rgb(219, 219, 219);
}
.item-container:hover .outside-part { 
    transform:  translateX(15px) translateY(15px) ;
    border: #fff 3px solid;
}
.item-container:hover .outside-part > span { 
    animation: outside-part-animation 3000ms linear infinite  ; 
    
    
}




.weather{ 
    background-image: url(../img/fun-weather.jpg);
}

.silon { 
    background-image: url(../img/silon.jpg);
}
.it-studio { 
    background-image: url(../img/it.jpg);
}
.bon-city { 
    background-image: url(../img/boncity.jpg);
}

@keyframes outside-part-animation { 
    0% { 
        transform: translateX(-600px) skew(-13deg);
    }
    100% { 
        transform:  translateX(0px) skew(-13deg);
    }
    /* 100% { 
        transform: translateX(-600px) skew(-10deg);
    } */
}